<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="description" content="">
    <meta name="keywords" content="создание сайтов, создание сайтов на заказ">
    <title>Personal Folio</title>
</head>
<body>

    <div class="page">

       <!--HEADER-->
           <header class="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-brand">
                        WEBDEVELOPER
                    </div>
                    <div class="header-logo">
                        <img src="../img/code.svg" alt="code">
                    </div>
                    <nav class="header-nav">
                        <a class="header-nav-link" href="../index.html">Home</a>
                        <a class="header-nav-link" href="about.html">About me</a>
                        <a class="header-nav-link active" href="contacts.html">Contacts</a>
                    </nav>
                </div> <!--/header-inner -->
            </div>  <!--/.container -->

        </header>
           <!--/.Main-->
        <main class="container">
            <div class="content">
                <div class="content-header">
                     <h1 class="title">Write me a <span>message</span></h1>
                     <div class="text">
                    <p>of a page when looking at its layout. The point of using Lorem</p>
                    </div>
                </div>

                <form class="form" action="/" method="post">
                    <div class="form-group">
                        <input class="input" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="input" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="input" type="tel" name="tel" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="textarea" name="text" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-full" type="submit">Send message</button>
                    </div>
                    </form>


            </div>
        </main> <!--/.container-->

        <!--Footer-->
        <footer class="footer">
            <div class="container">
                <div class="contacts">
                    <a class="contacts-link" href="mailto:info@dmitry@gmail.com">
                    <img class="contacts-icon" src="../img/maill.svg" alt="mail">info@gmail.com</a>
                    <a class="contacts-link" href="tel:+79120294578">
                    <img class="contacts-icon" src="../img/phone.svg" alt="phone">+789120294578</a>
                </div>
            </div>
        </footer>
        <img class="author" src="../img/me.png" accesskey="my_photo">

    </div> <!--/.page-->

</body>
</html>
